footer {
  background-color: var(--clr-1);
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

}

footer svg {
  cursor: pointer;
}

footer svg:hover {
  color: var(--clr-3);
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-item .footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

@media (max-width:960px){
  footer{
    padding: 1rem;
    flex-direction: column;
    gap: 20px;
  }
  .footer-item{
    flex-direction: column-reverse;
  }
  .footer-item .footer-icons{
    gap: 20px;
  }

}

