.services button{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--clr-3);
  text-transform: uppercase;
}

.services .col-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 7rem;
  gap: 10px;
}

.services img {
  width: 70%;
  border-radius: 50%;
}
.services .col-item {
  width: 70%;
  justify-self: left;
  margin: 2rem;
  gap: 20px;
  text-align: justify;
}
.services .col-item h2:nth-of-type(2) {
  text-align: end;
  color: var(--clr-3);
  margin-bottom: 2rem;
}
.services .col-item p {
  font-size: 22px;
}

.services .col-item a {
  color: var(--clr-3);
  text-transform: uppercase;
  font-size: 30px;
}

.services .col-item .arrow {
  color: var(--clr-3);
  font-size: 150px;
  cursor: pointer;
}
.services .col-item .bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .col-item .bottom a:nth-of-type(1){
  align-self: flex-start;
  font-size: 22px;
}

.services .col-1 .col-item .bottom .arrow,
.services .col-1 .col-item .bottom .back {
  align-self: center;
}

.services .col-1 .col-item .bottom .back{
  font-size: 35px;
}

/* column 2  */

.services .col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 7rem;
  color: var(--clr-2);
  background-color: var(--clr-1);
}

@media (max-width: 960px) {
  .services .col-1,
  .services .col-2 {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .services img {
    display: none;
  }
  .services .col-item {
    width: 90%;
  }
  .services .col-item p {
    font-size: 18px;
  }
}
